#criczumo_main_div {
	height:175px;
	margin-right:auto;
	margin-left:auto;
	background-image:url(../images/seamless-geo.jpg);
	background-repeat:no-repeat;
	background-position:center right;
}

.criczumo_match_title {
	background-color:transparent!important;
/* 	height: 70px; */
	padding-bottom:5px;
}

.criczumo_rowitem {
	text-align:center;
	background-color:transparent!important;
	margin-bottom:5px;
}

.wrap {
	max-width:1200px!important;
}

.criczumo_ended {
	border-radius:8px;
	border:1px solid #CF0E12;
	color:#fff;
	font-weight:300;
	font-size:10px;
	margin:auto;
	margin-top:10px;
	margin-bottom:5px;
	background-color:#CF0E12;
	-webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
	-moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
	box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
}



.criczumo_startsoon {
	border-radius:4px;
	border:1px solid #fff;
	color:#FFF;
	font-weight:700;
	padding-left:2px;
	font-size: 9px!important;
	padding-right:2px;
	padding-top:2px;
	padding-bottom:2px;
/* 	width:90%!important; */
	-webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
	-moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
	box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
	width: 20px;
}

.criczumo_live {
	border-radius:8px;
	border:1px solid #00a300;
	color:#fff;
	font-size:10px;
	margin:auto;
	margin-top:15px;
/* 	font-weight: bold; */
	background-color:#00a300;
	-webkit-box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
	-moz-box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
	box-shadow:0 0 8px 0 rgba(0,0,0,0.43);
}

.hideit {
	display:none!important;
	width: 0px!important;
}

.criczumo_teamname {
	font-size:12px;
	font-weight:700;
	line-height:20px!important;
	min-height:20px;
	height:30px;
}

.criczumo_teamended {
	font-size:12px;
	font-weight:700;
	line-height:20px!important;
	min-height:20px;
	height:50px;
}
#criczumo_liveOdds{
	max-width: 400px;
}

#criczumo_liveOdds > .carousel-control {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:5%;
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0,0,0,.6);
	background-color:transparent!important;
	filter:none;
	opacity:1;
	height:30px;
	margin-top:-25px;
}

#criczumo_liveOdds > .carousel-control.left,.carousel-control.right {
	background-image:none!important;
	background-color:transparent!important;
}

#criczumo_liveOdds > .carousel-control.pause, #criczumo_liveOdds > .carousel-control.play {
	margin-left:74%;
}

#criczumo_liveOdds > .carousel-control.left {
	margin-left:82%;
}

#criczumo_liveOdds > .carousel-control.right {
	margin-left:90%;
}


#criczumo_liveOdds > .teamname,.teamended {
	font-size:10px;
}

.norightpadding {
	padding-right:0;
	height:50px;
	margin-top:auto;
	margin-bottom:auto;
	padding:auto;
}

.borderBottom3pxblue {
	height:110px;
	margin-top:10px;
	
}
#criczumo_upcoming, #criczumo_live, #ended{
	max-width: 400px;
}

.noleftpadding {
	padding-left:0;
	height:auto;
	margin-top:auto;
	margin-bottom:auto;
}

.paddingTop10px {
	padding-top:10px;
}

.paddingTop5px {
	padding-top:5px;
}

.whiteText {
	color:#fff;
}

.fontsize10 {
	font-size:10px;
	font-weight:300;
	padding-left:5px;
	padding-right:5px;
}

.fontsize12 {
	font-size:10px;
	font-weight:300;
	padding-left:5px;
	padding-right:5px;
}

.textLeft {
	text-align:left;
	padding-left:5px;
}

.matchTitle {
	font-size:14px;
	font-weight:700;
	color:#C0A108;
	line-height:15px;
	padding-top:10px;
}

.colorVS {
	color:#C0A108;
	font-size:12px;
	line-height:30px;
}

.paddingTop15px {
	padding-top:15px;
}

.displayNone {
	display:none!important;
}

.hideborder {
	border:0!important;
}

.backgroundGray {
	background-color:rgba(176,176,176,0.62)!important;
}

#criczumo_widget > li {
	margin-bottom:0;
	background-color:#FAFAFA;
}

#criczumo_widget > li > a:hover {
	background-color:transparent;
	border-color:transparent;
}

#criczumo_widget > li.active > a {
	background-color:#030842!important;
	border:0!important;
	color:#FAFAFA;
	border-radius:0;
}

#criczumo_widget > li > a {
	border:0!important;
	color:#030842;
	border-radius:0;
	padding-left:20px!important;
	padding-right:20px!important;
}

#criczumo_widget > li.active > a:focus {
	color:#FFF;
	outline:none;
}

#criczumo_widget {
	border-bottom:2px solid #030842;
}

@media (max-width: 575.98px) {
	.criczumo_ended,.criczumo_live {
		font-size:8px;
	}
	
	.criczumo_match_title {
		font-size:9px!important;
		padding-right:5px;
	}
	
	.fontsize10 {
		font-size:8px!important;
	}
	
	.removePaddingOnMobile {
		padding-left:5px;
		padding-right:5px;
		font-size:10px;
	}
	
	.criczumo_startsoon {
		border-radius:4px;
		padding:1px;
		font-size:7px;
	}
	
	.criczumo_teamname,.colorVS,.criczumo_teamended {
		font-size:10px;
	}
	
	.textLeft {
		padding-left:10px!important;
	}
	
	.fontsize10 {
		font-size:8px;
		padding-left:5px;
		padding-right:5px;
	}
	
	.fontsize12 {
		font-size:10px!important;
	}
	.criczumo_match_title_customize{
	    min-height: 60px!important;
	    margin-top: 40px!important;
    }
    .matchTitle_customize{
	    padding-top: 0px!important;
    }
}